# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.OrderBoatNew.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\OrderBoatNew\.idea\.idea.OrderBoatNew\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
